body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


@media (max-width: 768px) {
  .navbar-list {
      flex-direction: column;
      gap: 0.5rem;
  }

  .inventory-container, .gallery-container, .contact-container {
      padding: 1rem;
  }

  .media-list {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .contact-form {
      max-width: 100%;
  }
}
